<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 78px auto 650px auto; /* Adjust margin-top value to push the table down */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.button:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

    </style>
</head>

<body>
<div class="container">
    <h1 align="center">Pawn History</h1>
    <table>
        <tr>
            <th>Product_Id</th>
            <th>Customer_Id</th>
            <th>Name</th>
            <th>Value</th>
            <th>Rate</th>
            <th>Total</th>
        </tr>

        <% for(let i = 0 ;i < Tickets.length ;i++){%>
            <%if(Id == Items[i].Customer_Id ){%>

                <tr>
                    <td>
                        <%=Items[i].Product_Id%>
                    </td>
                    <td>
                        <%=Id%>
                    </td>
                    <td>
                        <%=Items[i].Name%>
                    </td>
                    <td>
                        <%=Items[i].Value%>
                    </td>

                    <td>
                        <%=Tickets[i].Rate%>
                    </td>
                    <td>
                        <%=Tickets[i].Total%>
                    </td>
                </tr>
                <%}%>
                    <%}%>
    </table>
    <a class="button" href="/Pawn_Shop">กลับไปหน้าแรก</a>
</body>
</div>
    

</html>