<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>Employee_Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Post</th>
        </tr>
        <% for(let i = 0 ;i < Employees.length ;i++){%>
            <tr>
                <td>
                    <%=Employees[i].Employee_Id%>
                </td>
                <td>
                    <%=Employees[i].Name%>

                </td>
                <td>
                    <%=Employees[i].Phone%>
                </td>

                <td>
                    <%=Employees[i].Salary%>
                </td>
                <td>
                    <%=Employees[i].Post%>
                </td>
                <td>

                    <a href="/Update_Employee/<%= Employees[i].Employee_Id %>">Update</a>
                    <a href="/Delete_Employee/<%= Employees[i].Employee_Id %>">delete</a>
                </td>
            </tr>
            <%}%>
    </table>
    <a href="/Create_Employee">เพิ่มข้อมูลพนักงาน</a>
    <a href="/Pawn_Shop">กลับ</a>

</body>

</html>