<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Position</th>

        </tr>
        <tr>
            <td>
                <%= Employee.Employee_Id%>
            </td>
            <td>
                <%= Employee.Name %>
            </td>
            <td>
                <%= Employee.Phone%>
            </td>
            <td>
                <%= Employee.Salary%>
            </td>
            <td>
                <%= Employee.Post%>
            </td>

        </tr>
    </table>
</body>

</html>