<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    ดูDatabase ลูกค้า ทั้งหมด
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Password</th>
        </tr>
        <% for(var i = 0; i < Customers.length;i++) { %>
            <tr>
                <td>
                    <%= Customers[i].Customer_Id %>
                </td>
                <td>
                    <%= Customers[i].Name %>
                </td>
                <td>
                    <%= Customers[i].Phone %>
                </td>
                <td>
                    <%= Customers[i].Email %>
                </td>
                <td>
                    <%= Customers[i].Address %>
                </td>
                <td>
                    <%= Customers[i].Password %>
                </td>
                <td>

                    <a href="/Update_Customer/<%= Customers[i].Customer_Id%>">Update</a>
                    <a href="/delete/<%= Customers[i].Customer_Id%>">delete</a>
                </td>
            </tr>
            <% } %>
    </table>
    <br>
    <a href="/Pawn_Shop">กลับ</a>

</body>

</html>